body {
  background-color: #151718;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
h1 {
  font-family: Tangerine;
  font-size: 5em;
  color: #D9C9AF;
  text-align: center;
  position: relative;
  text-shadow: 0.2em 0.2em 0.5em #4E3424;
}
.tagline {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1rem;
  text-shadow: 0 0 0.9em #D9C9AF;
  position: absolute;
  bottom: -5%;
  left: 55%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.categories,
.chronology {
  padding: 1em;
}
.categories {
  background-color: #572A16;
}
.category {
  text-align: center;
}
.category-link {
  font-size: 3em;
  font-family: Tangerine;
  text-shadow: 0 0 0.3em #D9C9AF, -0.05em 0.05em 0.1em #000;
}
.category-link:hover {
  color: #233B9E;
}
.chronology {
  background-color: #4E3424;
}

@media (min-width: 768px) {
  header {
    padding: 1em 0 4em;
  }
  .tagline {
    left: 50%;
    transform: none;
  }
}