h1,
.tagline,
.category-link,
.chronology,
.categories {
  transform: translateZ(0);
}
body {
  transition: background-color 5s;
}
body.sun{
  background-color: #233B9E;
}
body.moon{
  background-color: #151718;
}
.sun .tagline, 
.moon .tagline, 
.sun h1, 
.moon h1 {
  transition: 1s all;
}
.sun h1, 
.moon h1 {
  transition: 3s all;
}
.sun h1 {
  color: #D9C9AF;
  text-shadow: 0.2em 0.2em 0.5em #4E3424;
}
.moon h1 {
  color: black;
  text-shadow: 0.2em 0.2em 0.5em #D9C9AF;
}
.sun .tagline {
  text-shadow: 0 0 0.9em #D9C9AF;
}
.category-link {
  text-shadow: 0 0 0.3em #D9C9AF, -0.05em 0.05em 0.1em #000;
}
.moon .category-link {
  transform: translate3d(0,0,0);
  color: white;
  text-shadow: 0 0 0.3em #D9C9AF, -0.05em 0.05em 0.1em #000;
}
.chronology {
  margin-top: -1em;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  height: 100vw;
  border-left: 0.1em solid black;
  border-right: 0.1em solid black;
}
.moon .categories {
  background-color: #151718;
}
.moon .chronology {
  background-color: #151718;
  border-left-color: #151718;
  border-right-color: #151718;
}
.sun .categories {
  background-color: #759433;
  border-radius: 50%;
}
.sun .chronology {
  background-color: #947233;
}
.category-link:hover {
  color: white;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
h1 {
  font-family: Tangerine;
  font-size: 5em;
  text-align: center;
  position: relative;
}
.tagline {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1rem;
  position: absolute;
  bottom: -5%;
  left: 55%;
  transform: translate3d(-50%, 0, 0) !important;
  white-space: nowrap;
}
.categories,
.chronology {
  padding: 1em;
  transition: all 3s;
}
.category {
  text-align: center;
}
.category-link {
  font-size: 3em;
  font-family: Tangerine;
}

@media (min-width: 768px) {
  header {
    padding: 1em 0 4em;
  }
  .tagline {
    transform: none;
  }
  .categories,
  .chronology {
    border-radius: 1em;
  }
}