body {
  background-color: peacefulBlack;
}
.theme-1 h1 {
  color: offwhite;
}
.theme-1 .tagline {
  text-shadow: 0 0 0.9em offwhite;
}
.categories {
  background-color: clay;
}
.chronology {
  background-color: mocha;
}
.category-link {
  text-shadow: 0 0 0.3em offwhite, -0.05em 0.05em 0.1em #000;
}
.category-link:hover {
  color: carefreeBlue;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
h1 {
  font-family: Tangerine;
  font-size: 5em;
  text-align: center;
  position: relative;
  text-shadow: 0.2em 0.2em 0.5em mocha;
}
.tagline {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1rem;
  position: absolute;
  bottom: -5%;
  left: 55%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.categories,
.chronology {
  padding: 1em;
}
.category {
  text-align: center;
}
.category-link {
  font-size: 3em;
  font-family: Tangerine;
}

@media (min-width: 768px) {
  header {
    padding: 1em 0 4em;
  }
  .tagline {
    left: 50%;
    transform: none;
  }
  .categories,
  .chronology {
    border-radius: 1em;
  }
}
