body {
  background-color: peacefulBlack;
}
.theme-1 .tagline, 
.theme-2 .tagline, 
.theme-1 h1, 
.theme-2 h1 {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transform: translateZ(0);
  transition: 5s all;
}
.theme-1 h1 {
  color: offwhite;
  text-shadow: 0.2em 0.2em 0.5em mocha;
}
.theme-2 h1 {
  color: black;
  text-shadow: 0.2em 0.2em 0.5em offwhite;
}
.theme-1 .tagline {
  text-shadow: 0 0 0.9em offwhite;
}
.category-link {
  text-shadow: 0 0 0.3em offwhite, -0.05em 0.05em 0.1em #000;
}
/*.theme-2 .category-link {
  transform: translate3d(0,0,0);
  color: offwhite;
  text-shadow: 0 0 0.3em offwhite, -0.05em 0.05em 0.1em #000;
}*/
.categories {
  background-color: clay;
}
.chronology {
  background-color: mocha;
}
.category-link:hover {
  color: white;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
h1 {
  font-family: Tangerine;
  font-size: 5em;
  text-align: center;
  position: relative;
}
.tagline {
  font-family: Raleway;
  font-weight: 400;
  font-size: 1rem;
  position: absolute;
  bottom: -5%;
  left: 55%;
  transform: translate3d(-50%, 0, 0) !important;
  white-space: nowrap;
}
.categories,
.chronology {
  padding: 1em;
}
.category {
  text-align: center;
}
.category-link {
  font-size: 3em;
  font-family: Tangerine;
}

@media (min-width: 768px) {
  header {
    padding: 1em 0 4em;
  }
  .tagline {
    left: 50%;
    transform: none;
  }
  .categories,
  .chronology {
    border-radius: 1em;
  }
}
