@import './font-faces.css';

header .theme-switch {
  color: #D9C9AF; 
  position: fixed;
  top: 0.5em;
  right: 0.5em;
}
.copyright {
  color: #56905A;
  font-size: 2em;
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
}