@import './font-faces.css';

header .theme-switch {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  transform: translateZ(0);

  border: 0.5em ridge;
  border-radius: 50%;
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  transition: all 2s;
  padding: 0.1em;
  background-color: sun1;
  cursor: pointer;
}
.sun header .theme-switch {
  box-shadow: 0 0 13em 8em sun4;
  border-color: sun2;
}
.moon header .theme-switch {
  box-shadow: 0 0 2em 0.1em carefreeBlue2;
  /*transform: rotate(720deg) translateZ(0);*/
  border-color: kermit;
}
.copyright {
  color: kermit;
  font-size: 1.5em;
  position: fixed;
  bottom: 0.2em;
  right: 0.2em;
}
