+latte          #AC8354
+mocha          #4E3424
+peacefulBlack  #151718
+kermit         #56905A
+carefreeBlue   #233B9E

@import './font-faces.css';

h1 {
  color: latte;
}
.categories {
  background-color: peacefulBlack;
}
.chronology {
  background-color: mocha;
}
