.poems-main {
  color: #56905A;
}
.poem-cell {
  background-color: #D9C9AF;
  white-space: pre-wrap;
  text-align: center;
}
.poem-link {
  font-size: 1em;
}

@media (min-width: 768px) {
  .poem-link {
    font-size: 2em;
  }
}